//  ----------------------------------------------
//  Form
//  ----------------------------------------------
form *:focus {
    outline: 0;
}

.form {
    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="datetime-local"],
    textarea {
        width: 100%;
        padding: 5px 8px;
        border: solid 1px $color-bd;
        background: #fff;
        border-radius: 3px;
        outline: 0;
    }

    select {
        border: solid 1px $color-bd;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"] {
        height: 32px;
    }

    input[type="text"].is-input,
    input[type="email"].is-input,
    input[type="password"].is-input,
    textarea.is-input,
    input[type="text"]:focus,
    input[type="email"]:focus,
    input[type="password"]:focus,
    textarea:focus {
        transition: border-color .5s linear;
        border-color: $color-key;
    }

    input[type="checkbox"],
    input[type="radio"] {
        margin-right: 5px;
    }

    .form-label {
        margin-right: 10px;
        white-space: nowrap;
        font-weight: bold;
        margin-bottom: 10px;
        display: block;
    }

    ::-webkit-input-placeholder {
        font-size: 13px;
        color: #B2B2B2;
        font-style: italic;
    }

    :-ms-input-placeholder {
        font-size: 13px;
        color: #B2B2B2;
        font-style: italic;
    }

    ::-moz-placeholder {
        font-size: 13px;
        color: #B2B2B2;
        font-style: italic;
    }

    textarea.error,
    input.error {
        background: #f8edf2;
        border: solid 1px #C40000;
    }

    .error {
        color: #fff;
        background: map-get($colors, 'red');
        padding: 8px;
        margin-top: 8px;
        font-weight: bold;
        display: inline-block;
        line-height: 1;
        font-size: 93%;
        border-radius: 3px;
    }

    .error-message {
        color: #C40000;
        margin-bottom: 30px;
        background-color: #f8edf2;
        padding: 20px;
        border: solid 1px #e8d1dc;

        ul {
            margin-left: 23px;
            margin-bottom: 0;
        }
    }

    // .error-message

    .form-footer {
        text-align: center;
        margin-top: 40px;
        border-top: 1px solid $color-bd;

        form {
            width: auto;
            display: inline-block;
        }
    }

    // .submit-area

    .input-group {
        + .input-group {
            margin-top: 20px;
        }

        .input-help {
            margin-top: 5px;
        }
    }

    // ラベル＋入力横並び
    &.is-horizontal {
        .input-group {
            display: flex;
            // align-items: center;
            justify-content: space-between;

            .form-label {
                width: 20%;
                text-align: right;
                font-weight: bold;
                font-size: .8rem;
                padding-top: 10px;
                margin-bottom: 0;
                display: inline-block;
            }

            .form-input {
                width: 80%;

                &.is-checkbox {
                    padding-top: 13px;
                }
            }
        } // .input-group
    } // &.is-horizontal

    .form-inline {
        display: flex;
        margin-left: -20px;

        .input-label {
            display: block;
            margin-bottom: 5px;
        }

        .input-group {
            width: 100%;
            margin-left: 20px;
            margin-top: 0;
        }

        .btn {
            padding: 5px;
            min-width: 80px;
        }
    }
} // .form


@media screen and (max-width: map-get($breakpoints, sm)) {
    .form {
        &.is-horizontal {
            .form-control {
                display: block;
                // align-items: center;
                justify-content: space-between;

                .form-label {
                    width: 100%;
                    font-size: .9rem;
                    padding-top: 0;
                    margin-bottom: 8px;
                    display: block;
                    text-align: left;
                }

                .form-input {
                    width: 100%;

                    &.is-checkbox {
                        padding-top: 13px;
                    }
                }
            }
        }
    } //.form
}

.select-box {
    overflow: hidden;
    width: 100%;
    text-align: center;
    position: relative;
    border: 1px solid $color-bd;
    border-radius: 3px;
    background: #fff;

    select {
        width: 100%;
        cursor: pointer;
        text-indent: 0.01px;
        text-overflow: ellipsis;
        border: none;
        outline: none;
        background: transparent;
        background-image: none;
        box-shadow: none;
        appearance: none;
        padding: 8px 38px 8px 10px;

        &::-ms-expand {
            display: none;
        }
    }

    option:first-child {
        color: #999;
    }

    &:before {
        position: absolute;
        top: 50%;
        right: 0.9em;
        margin-top: -.2em;
        width: 0;
        height: 0;
        padding: 0;
        content: '';
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid $color-bd;
        pointer-events: none;
    }
}

.checkbox-btn-group {
    color: $color-key;
    line-height: 1;
    display: flex;
    align-items: flex-end;
    padding: 7px 0;

    input {
        display: none;
    }

    label {
        padding: 7px 13px;
        margin: 0;
        border-radius: 15px;
        cursor: pointer;
    }

    input:checked + label {
        color: #fff;
        background: $color-key;
    }
}


.checkbox {
    cursor: pointer;
    position: relative;
    padding-left: 23px;

    input[type="checkbox"] {
        appearance: none;
    }

    span {
        display: inline-block;
        margin-right: 15px;

        &:before,
        &:after {
            content: '';
            display: inline-block;
            position: absolute;
            top: 1px;
            left: 0;
        }

        &:before {
            z-index: 0;
            background-color: transparent;
            width: 15px;
            height: 15px;
            border: 1px solid #aaa;
            border-radius: 3px;
        }

        &:after {
            z-index: 1;
            margin-top: 2px;
            margin-left: 6px;
            width: 5px;
            height: 9px;
            border: 2px solid #fff;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
            display: none;
        }
    }

    input[type="checkbox"]:checked + span {
        &:before {
            background-color: $color-key;
            border-color: $color-key;
        }

        &:after {
            display: block;
        }
    }

    // ラベルなし
    &.is-label-none {
        padding-left: 0;
        margin-left: -15px;

        span {
            position: absolute;
            margin-right: 0;
        }
    }
} // .checkbox
