#notice {
    display: inline-block;
    position: fixed;
    right: -400px;
    width: 400px;
    top: 10px;
    color: #fff;
    background: map-get($colors, 'green');
    padding: 20px 40px 20px 20px;
    box-shadow: 2px 2px 20px rgba(0,0,0,.15);
    z-index: 100;
    border-radius: 3px;
    transition: transform .5s;

    &.is-error {
        background: map-get($colors, 'red');
    }
    &.is-warning {
        background: map-get($colors, 'orange');
    }

    &[data-show="true"] {
        //right: 10px;
        transform: translateX(-410px);
    }

    #notice-close-btn {
        //float: right;
        position: absolute;
        right: 13px;
        top: 15px;
        //top: 50%;
        //margin-top: -15px;
        font-size: 1.5rem;
        font-weight: normal;
        line-height: 1;
        text-shadow: 0 1px 0 #fff;
        opacity: .5;
        padding: 0;
        background-color: transparent;
        border: 0;
        appearance: none;
        color: inherit;
        cursor: pointer;
        outline: none;
    }

    p {
        line-height: 1.4;
    }
}
