//  ----------------------------------------------
//  Task List
//  ----------------------------------------------
.task-list {
    // box-shadow: 2px 2px 25px $color-shadow;
    width: 100%;
    overflow-x: auto;

    > table {
        min-width: 1100px;
    }

    [class^="remixicon-"] {
        font-size: 1.1rem;
    }

    .doing {
        background: #FFFBDB !important;
    }

    .cell-do {
        width: 40px;
        color: $color-link;
        cursor: pointer;
        text-align: center;

        &:hover {
            color: $color-link-hover;
        }
    }

    .cell-status {
        width: 100px;
        text-align: center;
    }

    .cell-priority {
        width: 70px;
        text-align: center;

        &.is-high {
            color: map-get($colors, "red");
            font-weight: bold;
        }
    }

    .cell-title {
        width: 35%;
    }

    .cell-date {
        width: 100px;
    }

    .cell-action {
        a {
            text-decoration: none;
        }
    }

    .label {
        min-width: 75px;
    }
} // .task-list

.search-panel {
    margin-bottom: 15px;
    font-size: .75rem;
}

.task-head {
    margin-bottom: 10px;
    display: flex;
    // justify-content: space-between;
    // align-items: center;

    .btn {
        margin-right: 10px;
    }
}
