//  ----------------------------------------------
//  Task List
//  ----------------------------------------------
.task-list {
    // box-shadow: 2px 2px 25px $color-shadow;
    width: 100%;
    height: calc(100vh - 230px);

    > table {
        min-width: 1200px;
    }

    [class^="remixicon-"] {
        font-size: 1.1rem;
    }

    .is-doing {
        background-color: #FFFBDB !important;
    }
    .is-overdue {
        background-color: #FFE2E2 !important;
    }

    .cell-check {
        width: 40px;
        text-align: center;
    }
    .cell-do {
        width: 40px;
        color: $color-link;
        cursor: pointer;
        text-align: center;

        &:hover {
            color: $color-link-hover;
        }
    }


    .cell-priority {
        width: 80px;

        &.is-high {
            color: map-get($colors, "red");
            font-weight: bold;
        }
    }

    .cell-title {
        //width: 35%;
    }

    .cell-id { width: 70px; }
    .cell-status { width: 100px; }
    .cell-project { width: 150px; }
    .cell-due { width: 140px; }
    .cell-date { width: 100px; }
    .cell-user { width: 100px; }
    .cell-time { width: 80px; }
    .cell-action { width: 100px; }

    .label {
        min-width: 75px;
    }
} // .task-list

.search-panel {
    font-size: .75rem;
    margin-bottom: 12px;
}

.task-head {
    margin-bottom: 10px;
    display: flex;
    // justify-content: space-between;
    // align-items: center;

    .btn {
        margin-right: 10px;
    }
}
