
$gutters: (
    sm: "3px",
    md: "15px",
    lg: "40px"
) !default;


//
// Grid
//
$widths: 100, 90, 80, 75, 70, 66, 65, 60, 50, 40, 35, 33, 30, 25, 20, 10;

.l-row {
    display: flex;

    > .l-col {
        width: 100%;
        margin-bottom: 15px;

        @each $width in $widths {
            &.is-#{$width} {  width: $width + 0%;  }
        }
    }

    &.is-col-mb0 > .l-col {
        margin-bottom: 0;
    }

    @each $key, $value in $gutters {
        &.is-gutters-#{$key} {
            margin-left: -#{$value};

            > .l-col {
                margin-left: #{$value};
            }
        }
    }

    &.is-reverse {
        flex-direction : row-reverse
    }

    &.is-between {
        justify-content: space-between;
    }

    &.is-item-center {
        align-items: center;
    }
} // .row
